.AnchorPane {   -fx-background-color: white;
                -fx-border-color: #013F78;
                -fx-border-width: 5px;}
                
.AnchorPaneDatos {-fx-background-color: #FFFAFA;
                  -fx-border-color: #013F78;
                  -fx-border-width: 5px;}
                
.labelLogin { -fx-font-family: "Arial";
 	          -fx-font-size: 24px;
 	          -fx-font-weight: bold;}
 	          
.btnLogin { -fx-font-family: "Arial";
 	        -fx-font-size: 14px;
 	        -fx-font-weight: bold;}
 	        
.warningLogin { -fx-font-family: "Arial";
 	        	-fx-font-size: 12px;
 	        	-fx-font-weight: bold;
 	        	-fx-text-fill: red;
 	        	-fx-alignment: center}
 	        	
.tfLogin { -fx-font-family: "Arial";
 	       -fx-font-size: 18px;
 	       -fx-font-weight: bold;}
 

.labelMenu { -fx-font-family: "Arial";
 	          -fx-font-size: 12px;
 	          -fx-font-weight: bold;}
 
.btnAltaCliente    { -fx-graphic: url(../images/altaCliente.png);}
 
.btnBajaCliente	{ -fx-graphic: url(../images/borrarCliente.png);}
 
.btnModificarCliente { -fx-graphic: url(../images/modificarCliente.png);}
 
.btnBuscarCliente	{ -fx-graphic: url(../images/buscarCliente.png);}

.btnAltaMaterial    { -fx-graphic: url(../images/altaMaterial.png);}
 
.btnBajaMaterial	{ -fx-graphic: url(../images/bajaMaterial.png);}
 
.btnModificarMaterial { -fx-graphic: url(../images/modificarMaterial.png);}
 
.btnBuscarMaterial	{ -fx-graphic: url(../images/buscarMaterial.png);}

.btnCrearDocumento { -fx-graphic: url(../images/crearDocumento.png);}
 
.btnBuscarDocumento	{ -fx-graphic: url(../images/buscarDocumento.png);}

.lblAltaClientesHead { -fx-font-family: "Arial";
 	        			-fx-font-size: 28px;
 	        			-fx-font-weight: bold;
 	        			-fx-text-fill: #013F78;}
 	        		
.lblAltaClientes {		-fx-font-family: "Arial";
 	        			-fx-font-size: 20px;
 	        			-fx-font-weight: bold;
 	        			-fx-text-fill: #013F78;}}
 	        			
.tfAltaClientes { -fx-font-family: "Arial";
 	       		  -fx-font-size: 16px;
 	              -fx-font-weight: bold;}
 	              
.btnMenu { -fx-font-family: "Arial";
 	        -fx-font-size: 14px;
 	        -fx-font-weight: bold;
 	        -fx-text-fill: #013F78;}

